<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is a EJS Template 1 + 2 </h1>
    <h3> <%= 1 + 2 %>  </h3>
    <h3> <%= "sai teja".toUpperCase()  %>  </h3>
    <h3> <%= ["hello" , "sai"][0]  %>  </h3>    
    <h1> The Number on the dice when its rolled is  <%= num %></h1>
    <% if(num == 6) { %>
        <h1>Nice Roll dice again !!!!!</h1>
    <%}%>
    <!-- HTML Escaped  the final output will be in string format  -->
  
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, et voluptas laudantium quo ad sequi inventore dolore amet, ex officia at cum neque perspiciatis ipsa. Harum delectus aspernatur fugit omnis ratione, aperiam vel ipsum perspiciatis iusto fugiat, quam tempora officia in expedita ducimus consectetur mollitia iure placeat nam inventore labore magni praesentium nostrum. Et, qui incidunt consequatur odio praesentium quasi eius ad dolores sint soluta ipsum dolorum amet, fuga, magnam illum quod natus rem quos iste ipsa odit non voluptate explicabo. Sequi perspiciatis deleniti corporis, sint quam, sit inventore, quidem consequuntur minima deserunt illo ipsa hic cumque. Id cupiditate eveniet unde accusamus excepturi. Quam animi necessitatibus commodi, ea autem fuga cumque est totam aspernatur? Aliquam quisquam voluptates sequi sit expedita odio alias, eveniet magni corrupti esse, maxime magnam distinctio repudiandae tempore libero sunt amet vitae ratione quia at dolorum cumque nobis similique dolore. Dolorem expedita, culpa iure recusandae eos, quos perferendis deleniti veniam animi nulla perspiciatis. Ipsum at sequi unde totam recusandae odit quo consequuntur magni et soluta. Similique doloremque, sunt iste tempora sit voluptate tenetur voluptatum cumque blanditiis voluptatibus fuga aliquam dolorum, qui nostrum pariatur quibusdam ipsam unde. Quisquam, minus reiciendis. Cupiditate porro inventore, esse molestias facere quos doloribus assumenda nobis autem vel est quia, dolorum nihil. Similique fuga asperiores ullam repellat, vel iure exercitationem qui eius neque voluptatum nobis quo molestiae? Eos molestias explicabo nam voluptate praesentium culpa velit sed ad enim minima esse saepe, impedit maxime accusantium quod fuga aperiam voluptas facere veritatis. Fuga facere nisi dolore.</p>
    <button>clickme</button>
</body>
</html>

<!-- https://safwan-du16.medium.com/why-i-switched-from-ejs-to-react-34235a95eb39 -->