<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
</head>
<body>

    <h1>Welcome @ <%= username %>  </h1>
    <button>Follow</button>
    <button>Message</button>
    <%for (let i of username ){%>
        <li> <%=  i  %> </li>
    <%}%>

    <h1>Your Followers</h1>
    <%for (let each of followers ){%>
        <li> <%=  each  %> </li>
    <%}%>
</body>
</html>