<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form  method ="post" action="/addUser?_method = post">

        <input type="text" name="username"     id="username">
        <label for="username">Enter username</label>
        <br>
        <input type="email" name="email"       id="email">
        <label for="email">Enter email</label>
        <br>
        <input type="password" name="password" id="password">
        <label for="password">Enter password</label>

        <button>submit</button>
        

    </form>
    
</body>
</html>