<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single User</title>
</head>
<body>

    <h1> id <%= user.id %> </h1>
    <h1>username is : <%= user.username %> <a href="/user/edit/<%= user.id %>">Edit Username</a></h1>
    <h1>email is : <%= user.email %></h1>
    <a href="/Home">Go to home</a>
    
</body>
</html>