<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <H1>Add New Post</H1>

    <form method="post" action="/posts">
        <input type="text" placeholder="Enter your username" name="username" id="username">
        <br>
        <br>
        <textarea name="content" id="content"></textarea>
        <br>
        <br>    
        <button>Add post</button>
    </form>
    
</body>
</html>