#outer {
    height: 500px;
    width: 400px;
    background-color: pink;
}

h1{
    text-align: center;
}

ul{
    background-color: violet;
}

/* To Do event  */

li{
    background-color: bisque;
}

#buttonsDiv{
    height: 10%;

    display: flex;
    justify-content: space-around;

}

input{
    margin-top: 50px;
    margin-left: 90px;

}   