<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/edit/chat/<%= editingChat ? editingChat.id : "no id " %>">
        <input type="text" name="message" id="message" placeholder="edit your message" value="<%= editingChat ? editingChat.message : "no message" %>">
        
        <button>submit</button>
    </form>
</body>
</html>