<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form method="post" action="/newChat">
        <input type="text" id="from" name="from" placeholder="From">
        <label for="from">Enter senders name </label>
        <br>
        <input type="text" id="to" name="to" placeholder="To">
        <label for="to">Enter receivers name</label>
        <br>
        <textarea placeholder="enter your message" name="message"></textarea> 

        <button>Submit </button>

    </form>
    
</body>
</html>